body {
	background-color: rgb(67,68,89);
}

.card{
	background-color: rgb(67,68,89);
	color: white;
  position:absolute;
  top:50px;/*always 20px from the top*/
  bottom:0px;/*always 40px from the bottom*/
}

.card-title{
	text-align: center;
	font-size: 3em;
	position:relative;
  top:100px;
}

.card-text{
	text-align: center;
	position:relative;
  top:150px;
}